@model IEnumerable<ExpenseApp.Models.expense>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.expensedate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.transactiondetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.transactiontype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expenseamount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.balanceamount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.fname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.expensedate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.transactiondetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.transactiontype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expenseamount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.balanceamount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.fname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
